/Automate-Vendor-Site-Update-Workflow/scripts/example_upload.py
/Automate-Vendor-Site-Update-Workflow/outfiles/processed.pdf
/Automate-Vendor-Site-Update-Workflow/.venv/
/Automate-Vendor-Site-Update-Workflow/supplier-data/
/Automate-Vendor-Site-Update-Workflow/.dotenv
/Automate-Vendor-Site-Update-Workflow/scripts/supplier-data.tar.gz
/Automate-Vendor-Site-Update-Workflow/scripts/__pycache__
.idea


