/Automate-Workflow-Vendor-Site-Update/scripts/example_upload.py
/Automate-Workflow-Vendor-Site-Update/outfiles/processed.pdf
/Automate-Workflow-Vendor-Site-Update/.venv/
/Automate-Workflow-Vendor-Site-Update/supplier-data/
/Automate-Workflow-Vendor-Site-Update/.dotenv
/Automate-Workflow-Vendor-Site-Update/scripts/supplier-data.tar.gz
/Automate-Workflow-Vendor-Site-Update/scripts/__pycache__
.idea


